---
version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: ":seedling:"
  groups:
    all-go-mod-patch-and-minor:
      patterns: ["*"]
      update-types: ["patch", "minor"]
    cluster-api:
      patterns:
      - sigs.k8s.io/cluster-api
      - sigs.k8s.io/cluster-api/test
  ignore:
  # Ignore controller-runtime as its upgraded manually.
  - dependency-name: "sigs.k8s.io/controller-runtime"
    update-types:
      ["version-update:semver-major", "version-update:semver-minor"]
    # Ignore k8s and its transitives modules as they are upgraded manually
    # together with controller-runtime.
  - dependency-name: "k8s.io/*"
    update-types:
      ["version-update:semver-major", "version-update:semver-minor"]
  - dependency-name: "go.etcd.io/*"
    update-types:
      ["version-update:semver-major", "version-update:semver-minor"]
  - dependency-name: "google.golang.org/grpc"
    update-types:
      ["version-update:semver-major", "version-update:semver-minor"]
    # Bumping the kustomize API independently can break compatibility with
    # client-go as they share k8s.io/kube-openapi as a dependency.
  - dependency-name: "sigs.k8s.io/kustomize/api"
    update-types:
      ["version-update:semver-major", "version-update:semver-minor"]
  labels:
  - "area/dependency"

- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "weekly"
  commit-message:
    prefix: ":seedling:"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: ":seedling:"
