---
version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: ":seedling:"
  groups:
    kubernetes:
      patterns:
      - k8s.io/api
      - k8s.io/apimachinery
      - k8s.io/client-go
    cluster-api:
      patterns:
      - sigs.k8s.io/cluster-api
      - sigs.k8s.io/cluster-api/test
  labels:
  - "area/dependency"

- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "weekly"
  commit-message:
    prefix: ":seedling:"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: ":seedling:"
