---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: ionoscloudmachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: IonosCloudMachine
    listKind: IonosCloudMachineList
    plural: ionoscloudmachines
    singular: ionoscloudmachine
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: IonosCloudMachine is the Schema for the ionoscloudmachines API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IonosCloudMachineSpec defines the desired state of IonosCloudMachine.
            properties:
              availabilityZone:
                default: AUTO
                description: AvailabilityZone is the availability zone in which the
                  VM should be provisioned.
                enum:
                - AUTO
                - ZONE_1
                - ZONE_2
                type: string
              cpuFamily:
                description: CPUFamily defines the CPU architecture, which will be
                  used for this VM. Not all CPU architectures are available in all
                  data centers.
                example: AMD_OPTERON
                minLength: 1
                type: string
              datacenterID:
                description: DataCenterID is the ID of the data center where the machine
                  should be created in.
                format: uuid
                type: string
                x-kubernetes-validations:
                - message: datacenterID is immutable
                  rule: self == oldSelf
              disk:
                description: Disk defines the boot volume of the VM.
                properties:
                  availabilityZone:
                    default: AUTO
                    description: AvailabilityZone is the availability zone where the
                      volume will be created.
                    enum:
                    - AUTO
                    - ZONE_1
                    - ZONE_2
                    - ZONE_3
                    type: string
                  diskType:
                    default: HDD
                    description: DiskType defines the type of the hard drive.
                    enum:
                    - HDD
                    - SSD Standard
                    - SSD Premium
                    type: string
                  name:
                    description: Name is the name of the volume
                    type: string
                  sizeGB:
                    default: 20
                    description: SizeGB defines the size of the volume in GB
                    minimum: 10
                    type: integer
                  sshKeys:
                    description: SSHKeys contains a set of public SSH keys which will
                      be added to the list of authorized keys.
                    items:
                      type: string
                    type: array
                    x-kubernetes-list-type: set
                type: object
              memoryMB:
                default: 3072
                description: MemoryMB is the memory size for the VM in MB. Size must
                  be specified in multiples of 256 MB with a minimum of 1024 MB which
                  is required as we are using hot-pluggable RAM by default.
                format: int32
                minimum: 2048
                multipleOf: 1024
                type: integer
              network:
                description: Network defines the network configuration for the VM.
                properties:
                  ips:
                    description: IPs is an optional set of IP addresses, which have
                      been reserved in the corresponding data center.
                    items:
                      type: string
                    type: array
                    x-kubernetes-list-type: set
                  useDHCP:
                    default: true
                    description: UseDHCP sets whether DHCP should be used or not.
                      NOTE(lubedacht) currently we do not support private clusters
                      therefore dhcp must be set to true.
                    type: boolean
                type: object
              numCores:
                default: 1
                description: NumCores defines the number of cores for the VM.
                format: int32
                minimum: 1
                type: integer
              providerID:
                description: ProviderID is the IONOS Cloud provider ID will be in
                  the format ionos://ee090ff2-1eef-48ec-a246-a51a33aa4f3a
                type: string
            required:
            - cpuFamily
            - datacenterID
            - disk
            type: object
          status:
            description: IonosCloudMachineStatus defines the observed state of IonosCloudMachine.
            properties:
              conditions:
                description: Conditions defines current service state of the IonosCloudMachine.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              currentRequest:
                description: CurrentRequest shows the current provisioning request
                  for any cloud resource that is being provisioned.
                properties:
                  message:
                    description: Message is the request message, which can also contain
                      error information.
                    type: string
                  method:
                    description: Method is the request method
                    type: string
                  requestPath:
                    description: RequestPath is the sub path for the request URL
                    type: string
                  state:
                    description: RequestStatus is the status of the request in the
                      queue.
                    enum:
                    - QUEUED
                    - RUNNING
                    - DONE
                    - FAILED
                    type: string
                required:
                - method
                - requestPath
                type: object
              failureMessage:
                description: "FailureMessage will be set in the event that there is
                  a terminal problem reconciling the Machine and will contain a more
                  verbose string suitable for logging and human consumption. \n This
                  field should not be set for transitive errors that a controller
                  faces that are expected to be fixed automatically over time (like
                  service outages), but instead indicate that something is fundamentally
                  wrong with the Machine's spec or the configuration of the controller,
                  and that manual intervention is required. Examples of terminal errors
                  would be invalid combinations of settings in the spec, values that
                  are unsupported by the controller, or the responsible controller
                  itself being critically misconfigured. \n Any transient errors that
                  occur during the reconciliation of IonosCloudMachines can be added
                  as events to the IonosCloudMachine object and/or logged in the controller's
                  output."
                type: string
              failureReason:
                description: "FailureReason will be set in the event that there is
                  a terminal problem reconciling the Machine and will contain a succinct
                  value suitable for machine interpretation. \n This field should
                  not be set for transitive errors that a controller faces that are
                  expected to be fixed automatically over time (like service outages),
                  but instead indicate that something is fundamentally wrong with
                  the Machine's spec or the configuration of the controller, and that
                  manual intervention is required. Examples of terminal errors would
                  be invalid combinations of settings in the spec, values that are
                  unsupported by the controller, or the responsible controller itself
                  being critically misconfigured. \n Any transient errors that occur
                  during the reconciliation of IonosCloudMachines can be added as
                  events to the IonosCloudMachine object and/or logged in the controller's
                  output."
                type: string
              ready:
                description: Ready indicates the machine has been provisioned and
                  is ready.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
