---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: ionoscloudclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: IonosCloudCluster
    listKind: IonosCloudClusterList
    plural: ionoscloudclusters
    singular: ionoscloudcluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster
      jsonPath: .metadata.labels['cluster\.x-k8s\.io/cluster-name']
      name: Cluster
      type: string
    - description: Cluster infrastructure is ready
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: API Endpoint
      jsonPath: .spec.controlPlaneEndpoint
      name: Endpoint
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: IonosCloudCluster is the Schema for the ionoscloudclusters API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IonosCloudClusterSpec defines the desired state of IonosCloudCluster.
            properties:
              contractNumber:
                description: Contract number is the contract number of the IONOS Cloud
                  account.
                type: string
                x-kubernetes-validations:
                - message: contractNumber is immutable
                  rule: self == oldSelf
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the control plane.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              location:
                description: Location is the location where the data centers should
                  be located.
                example: de/txl
                minLength: 1
                type: string
                x-kubernetes-validations:
                - message: location is immutable
                  rule: self == oldSelf
            required:
            - contractNumber
            - controlPlaneEndpoint
            - location
            type: object
          status:
            description: IonosCloudClusterStatus defines the observed state of IonosCloudCluster.
            properties:
              conditions:
                description: Conditions defines current service state of the IonosCloudCluster.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              controlPlaneEndpointProviderID:
                description: ControlPlaneEndpointProviderID is the IONOS Cloud provider
                  ID for the control plane endpoint IP block. It will be in the format
                  "ionos://ee090ff2-1eef-48ec-a246-a51a33aa4f3a"
                type: string
              currentClusterRequest:
                description: CurrentClusterRequest is the current pending request
                  made during reconciliation for the whole cluster.
                properties:
                  message:
                    description: Message is the request message, which can also contain
                      error information.
                    type: string
                  method:
                    description: Method is the request method
                    type: string
                  requestPath:
                    description: RequestPath is the sub path for the request URL
                    type: string
                  state:
                    description: RequestStatus is the status of the request in the
                      queue.
                    enum:
                    - QUEUED
                    - RUNNING
                    - DONE
                    - FAILED
                    type: string
                required:
                - method
                - requestPath
                type: object
              currentRequest:
                additionalProperties:
                  description: ProvisioningRequest is a definition of a provisioning
                    request in the IONOS Cloud.
                  properties:
                    message:
                      description: Message is the request message, which can also
                        contain error information.
                      type: string
                    method:
                      description: Method is the request method
                      type: string
                    requestPath:
                      description: RequestPath is the sub path for the request URL
                      type: string
                    state:
                      description: RequestStatus is the status of the request in the
                        queue.
                      enum:
                      - QUEUED
                      - RUNNING
                      - DONE
                      - FAILED
                      type: string
                  required:
                  - method
                  - requestPath
                  type: object
                description: CurrentRequestByDatacenter maps data center IDs to a
                  pending provisioning request made during reconciliation.
                type: object
              ready:
                default: false
                description: Ready indicates that the cluster is ready.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
